<?xml version="1.0" encoding="UTF-8"?>
<application>
    <!-- rpc interface services -->
    <rpcServices>
        <rpcService name="SnRpcInterface" interface="com.github.wangxuehui.rpc.client.SnRpcInterface" overload="true">
           <rpcImplementor  class="com.github.wangxuehui.rpc.client.SnRpcImpl"/>
        </rpcService>
    </rpcServices>
</application>